---
layout: default
---

<section class="collection-head small geopattern" data-pattern-id="{{ page.title | truncate: 15, ''}}">
<div class="container">
  <div class="columns">
    <div class="column three-fourths">
      <div class="collection-title">
        <h1 class="collection-header">{{ page.description }}</h1>
        <div class="collection-info">
        </div>
      </div>
    </div>
  </div>
</div>
</section>

<!-- / .banner -->
<section class="container content">
    <div class="columns">
        <div class="column three-fourths" >
            <article class="article-content markdown-body">
                {{ content }}
            </article>
            <div class="share">
                {% include sns-share.html %}
            </div>
            <div class="comment">
                {% include comments.html %}
            </div>
        </div>
        <div class="column one-fourth" id="rightNav">
            {% include sidebar-search.html %}
            {% include sidebar-categories-nav.html %}
        </div>
        <script>
          var ua = navigator.userAgent;
          var ipad = ua.match(/(iPad).*OS\s([\d_]+)/),
          isIphone = !ipad && ua.match(/(iPhone\sOS)\s([\d_]+)/),
          isAndroid = ua.match(/(Android)\s+([\d.]+)/),
          isMobile = isIphone || isAndroid;
          if(isMobile) {
              document.getElementById("rightNav").style.display="none";
          }
        </script>
    </div>
</section>
<!-- /section.content -->
